/* canvas {
    background-image: url(./image/snake.jpg);
    background-size: cover;
}


body{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas{
    box-shadow: black 20px 10px 50px;
}
 */
 canvas {
    background-image: url(./image/snake.jpg);
    background-size: cover;
}
body {
    background-image: url('./image/snake.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


canvas {
    box-shadow: black 20px 10px 50px;
}
